 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1311px;
}

.u-section-1 .u-blog-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 498px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Chillax-Medium;
  margin: 11px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 415px;
  height: auto;
  margin-top: 29px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 18px 30px;
}

.u-section-1 .u-text-2 {
  font-family: Chillax-Medium;
  font-weight: 600;
  margin: 34px 14px 0 597px;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 11px 288px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 25px 14px 0 598px;
}

.u-section-1 .u-group-elements-1 {
  width: 369px;
  min-height: 43px;
  height: auto;
  margin: 148px 139px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Chillax-Medium;
  box-shadow: 2px 2px 8px 0px rgba(17,24,39,1);
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px 0 0 auto;
}

.u-section-1 .u-image-1 {
  height: 350px;
  width: 535px;
  margin: -327px auto 0 14px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Chillax-Medium;
  margin: 48px auto 0;
}

.u-section-1 .u-blog-2 {
  width: 1434px;
  margin: 51px -147px 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 580px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 238px;
  margin: 30px 30px 0;
}

.u-section-1 .u-text-5 {
  font-family: Chillax-Medium;
  font-weight: 600;
  font-size: 2.25rem;
  margin: 21px 33px 0 27px;
}

.u-section-1 .u-metadata-2 {
  margin: 14px auto 0 27px;
}

.u-section-1 .u-text-6 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: Chillax-Medium;
  margin: 86px auto 0 27px;
  padding: 7px 16px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Chillax-Medium;
  box-shadow: 2px 2px 8px 0px rgba(17,24,39,1);
  margin: -37px 42px 0 auto;
  padding: 7px 16px 7px 15px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 2px auto 20px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 411px;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 411px;
  }

  .u-section-1 .u-blog-2 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 191px;
  }

  .u-section-1 .u-blog-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 26px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-blog-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 209px;
    width: 320px;
  }

  .u-section-1 .u-blog-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Chillax-Medium;
  margin: 55px auto 0;
}

.u-section-2 .u-blog-1 {
  width: 1434px;
  margin: 0 -147px 17px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 580px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 238px;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  font-family: Chillax-Medium;
  font-weight: 600;
  font-size: 2.25rem;
  margin: 21px 33px 0 27px;
}

.u-section-2 .u-metadata-1 {
  margin: 14px auto 0 27px;
}

.u-section-2 .u-text-3 {
  margin: 25px 30px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: Chillax-Medium;
  margin: 86px auto 0 27px;
  padding: 7px 16px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Chillax-Medium;
  box-shadow: 2px 2px 8px 0px rgba(17,24,39,1);
  margin: -37px 42px 0 auto;
  padding: 7px 16px 7px 15px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-blog-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-blog-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-blog-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-blog-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 668px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 897px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 621px;
  }
}@font-face {
  font-family: 'Chillax-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Chillax-Medium.otf);
}